* {
	margin:0; padding:0;
	font-family:'Brush Script MT', Phyllis, 'Lucida Handwriting', cursive;	
}

html, body {
	background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC00', endColorstr='#555', GradientType='0'); /* IE*/
	height:100%;	
	-ms-linear-gradient(top, #f8cbd6 0%,#edeeec 100%);	
}

html, #body {
	margin: 0px 80px 0px 80px;	
	padding-top:0px;
	background:#fff;
	height:100%;	
}

#site-menu {
	position:relative;
	z-index:1;
}

#site-content {
	position:relative;
	z-index:0;
}

.left { float:left;}
.right {float:right;}
.clear  {clear:both;}

#logo2, input
	{
		font-family:Georgia, tahoma; 
		font-size:11px;
		line-height:17px;
		color:black;		
		vertical-align:middle;
	}

strong {font-size:12px; color:#444444;}

#footer{
	background:#FFFFFF url(/img/footer_bg.gif) top left repeat-x;
	padding:10px;
	height:100px
}

#footer li{
    list-style-type: none;
   	display: inline;	
   	margin:25px;
}

#help {
		padding:0px 15px 0px 15px;
		height: 600px;		
}