body {
    margin: 0px;
    background-color: #333333;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:8px;
    top:20px;
    width:912px;
    height:685px
}

.u1_normal {
    background-image: url('../bossteach_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:907px;
    height:94px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:913px;
    height:100px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:903px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../bossteach_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:94px;
    width:907px;
    height:550px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:913px;
    height:556px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:903px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../bossteach_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:644px;
    width:907px;
    height:36px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:913px;
    height:42px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:903px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u7 {
    position:absolute;
    left:108px;
    top:66px;
    width:505px;
    height:31px
}

.u8_normal {
    background-image: url('../bossteach_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:26px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../bossteach_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:26px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../bossteach_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:26px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../bossteach_files/u8_normal.png');
}

.u14_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:26px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../bossteach_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:26px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:338px;
    top:633px;
    width:247px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:143px;
    top:680px;
    width:589px;
    height:25px
}

.u20_normal {
    background-image: url('../bossteach_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../bossteach_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:161px;
    top:0px;
    width:151px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../bossteach_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:312px;
    top:0px;
    width:144px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../bossteach_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:456px;
    top:0px;
    width:128px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:8px;
    top:20px;
    width:106px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:701px;
    top:66px;
    width:157px;
    height:25px;
    ;
    background-color:#333333;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_container {
    position:absolute;
    left:8px;
    top:114px;
    width:907px;
    height:509px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:907px;
    height:509px;
}

.u31 {
    position:absolute;
    left:2px;
    top:246px;
    width:903px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

