body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:21px;
    top:12px;
    width:107px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:778px;
    top:26px;
    width:224px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:154px;
    top:47px;
    width:505px;
    height:31px
}

.u3_normal {
    background-image: url('../bossteach_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:26px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../bossteach_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:26px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../bossteach_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:26px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../bossteach_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:26px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../bossteach_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:26px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:32px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../bossteach_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:92px;
    top:106px;
    width:812px;
    height:501px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:812px;
    height:501px;
}

.u14 {
    position:absolute;
    left:2px;
    top:242px;
    width:808px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:400px;
    top:633px;
    width:247px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:48px;
    top:710px;
    width:894px;
    height:25px
}

.u17_normal {
    background-image: url('../bossteach_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../bossteach_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:161px;
    top:0px;
    width:151px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../bossteach_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:312px;
    top:0px;
    width:151px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../bossteach_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:463px;
    top:0px;
    width:154px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../bossteach_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:617px;
    top:0px;
    width:144px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../bossteach_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:761px;
    top:0px;
    width:128px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

