* {
	margin:0; padding:0;
}

#hat {
	background:url(/img/header_bg.gif) top left repeat-x; 
	padding:10px; 
	color:#ffffff;
}

#eye {	
	background:url(/img/header_bg.jpg) top left; no-repeat;	
	color:#ffffff;
	height:200px;		
}
#necklace {
	height:30px;
	background-image:url(/img/top_bg.jpg);
	background-repeat:repeat;
	filter: alpha( style=1,opacity=25,finishOpacity=100,startX=15,finishX=75,startY=50,finishY=100);																
}

#beard{
	background:#FFFFFF url(/img/footer_bg.gif) top left repeat-x;
	padding:10px;
	height:100px
}

.south_bottom_div_ul li{
    list-style-type: none;
   	display: inline;	
   	margin:25px;
}

.south_bottom_div {
	background-color:blue;
	height:100px;	
}

.slogan li{
		font-family: sans-serif;		
		font-weight:900;	
	    list-style-type: none;
    	display: inline;
    	font-size:18;
    	padding:0px 5px;    	    	 	
}

/*maincontent.jsp item style*/
.item{
	width:300px;
	height:300px;
	padding:5px;
	margin:20px;
	display: inline;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=5);/*ie*/
	-moz-box-shadow: 2px 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 5px #909090;/*safari或chrome*/
	box-shadow:2px 2px 5px #909090;/*opera或ie9*/
	/*filter: alpha(style=2,opacity=25,finishOpacity=100,startX=95,finishX=10,startY=95,finishY=15);*/	
}

#sloganDiv {
	width:80%;	
	padding:40px 5px 0px 0px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=115,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/		
}

#welcomeDiv {
	background-image: url('/img/welcome.png');
	background-position: right;
	background-repeat:no-repeat;
	height:200px;"
}



